.header-outer-content {
    margin-left: auto;
    margin-right: auto;
    color: #fff
}

.header-content {
    height: 822px;
    margin-left: 15%;
    margin-top: 0%;
    /* position: absolute; */
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    display: inline-flex;
}

.header-question {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
}

.header-heading {
    text-align: center;
    font-size: 96px;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    line-height: 100px;
    letter-spacing: 5.76px;
    word-wrap: break-word;
}

.header-paragragh {
    width: 676px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.header-button-content {
    justify-content: center;
    align-items: center;
    gap: 32px;
    display: inline-flex;
}

.header-button-des {
    padding: 16px 80px 16px 80px;
    background-color: #7920C2;
    border-radius: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.header-button-des:hover {
    background: linear-gradient(136deg, #7920C2 0%, #6D1BB0 100%); 
    box-shadow: 7px 11px 12px rgba(121, 32, 194, 0.09);
}

.header-button-sign {
    padding: 16px 80px 16px 80px;
    background-color: #F2994A;
    border-radius: 100px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
}

.header-button-sign:hover {
    background: linear-gradient(135deg, #F2994A 0%, #CE7629 100%); 
    box-shadow: 7px 11px 12px rgba(242, 153, 74, 0.09);
}